{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            {% if success %}
            <p>Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
            {% else %}
            <h2>Informe seu E-mail</h2>
            <form class="pure-form pure-form-stacked" method="post">
                {% csrf_token %}
                <fieldset>
                    {{ form.non_field_errors }}

                    {% for campo in form %}
                    <div class="pure-control-group">
                        {{ campo.label_tag }}
                        {{ campo }}
                        {{ campo.errors }}
                    </div>
                    {% endfor %}

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary primary-button">Enviar E-mail</button>
                    </div>
                </fieldset>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}